#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#menu .nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#menu li {
    float: none;
}

#menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #000;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#footer-logo {
    height: 50px;
}

.social-icons {
    margin-right: 50px;
}

.social-icons a {
    color: black;
}

.social-icons i {
    font-size: 30px;
    margin: 0 10px;
}

#Accueil {
    background-image: url('images/banniere.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
}

.titre {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 200px;
}

#promo-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffcc00;
    color: #000;
    text-align: center;
    padding: 10px;
    transition: top 0.3s ease-out;
    z-index: 1000;
}

#promo-scroll.hide {
    top: -100px;
}

@media only screen and (max-width: 768px) {
    #menu {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    #logo {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #menu .nav-links {
        justify-content: center;
        margin-top: 10px;
    }

    #menu li {
        margin-bottom: 10px;
    }

    #menu li a {
        padding: 10px 16px;
    }

    #menu .logo-container {
        order: -1;
    }

    #panier-logo {
        display: inline-block;
    }

    footer {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .social-icons {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #footer-logo {
        margin-bottom: 10px;
    }
}
