

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


#menu .nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#menu li {
    float: none;
}

#menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}



#logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
}



footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #000;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#footer-logo {
    height: 50px;
}

.social-icons {
   margin-right: 50px;
   color: black;
   height: 50px;
    


}


#produits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 120px;
}

.product {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: calc(25% - 40px);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.product h2 {
    font-size: 20px;
    margin: 10px 0;
}

.product img {
    width: 100%;
    height: auto;
}

.product p {
    font-size: 16px;
    color: #666;
}

.product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}